body, html {
  height: 100%;
  }
  .bg {
  background-image: url("image1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  }
  .form-control {
    display: inline-block;
    width: 18%;
  }
.bg div {
  color: white;
  width: 50rem;
  margin-left: 20rem;
  padding-top: 5%;
}
.bg h1, h4 {
  margin-left: 3.5rem;
}
ul {
  list-style-type: none;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
.form-control {
  margin-left: -37rem;
  margin-right: 5%;
  width: 30rem;
  padding-top: 0%;
}
.btn {
  height: 2.5rem;
  background-color:#e67300;
  border: #e67300;
}
.btn:hover {
  height: 2.5rem;
  background-color:#e67300;
  border: #e67300;
}