.nb {
    background-color:#333333 ;
}
#logo{
    color: #e67300;
    font-size: 2rem;
    font-family: Comic Sans MS;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e67300;
}