.navbar-expand {
    background-color: #333333;
}
.navbar-light .navbar-brand  {
 color: white;
}
.navbar-light .navbar-brand:hover {
    color: #e67300;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:#e67300;
    text-decoration: none;
}